/* Enter page divs */
.hover-text { 
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 52%;
}
  .hover-text2 { 
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 52%;
}
/* Agency content */
/* .a-homediv {
  position: absolute;
  transform: translate(-10%, -40%);
  text-align: left;
}

.a-homediv h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.a-homediv h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

.a-homediv button {
  font-size: 16px;
  padding: 6px 12px;
  margin-top: 10px;
} */

.img101:hover {
  content: url(./assets/101-hover.svg);
}
.img102:hover {
  content: url(./assets/102-hover.svg);
}
.img103:hover {
  content: url(./assets/103-hover.svg);
}
.img104:hover {
  content: url(./assets/104-hover.svg);
}
.img105:hover {
  content: url(./assets/105-hover.svg);
}
.img106:hover {
  content: url(./assets/106-hover.svg);
}

.Cover-wrapper { 
  width: 100%;
  height: 1080px;
}
.Cover-wrapper-marketing { 
  width: 100%;
  height: 1080px;
}
.Cover-img { 
  width: 100%;
  height: 1080px;
}
.Cover-img-marketing { 
  width: 100%;
  height: 1080px;
}
.Cover-wrapper-copy { 
  width: 100%;
  height: 1096px;
}
.Copy-img { 
  width: 100%;
  height: 1096px;
}
.iconsWrapper { 
  height: 930px;
  background-color: #353535;
}
.textWrapper-aboutUs { 
  height: 440px;
  background-color: #353535;
}
.Cover-img-mobile { 
  display: none;
}
.Cover-img-marketing-mobile { 
  display: none;
}
.Coverbranding-img-mobile { 
  display: none;
}
.Coverimg-marketing-mobile { 
  display: none;
}
.Coverimg-Media-mobile { 
  display: none;
}
.Copy-img-mobile { 
  display: none;
}
.Cover-aboutUs-mobile { 
  display: none;
}
.Coverimg-ContactUs-mobile { 
  display: none;
}
/* Agency page */
@media screen and (max-width: 600px) {
  .Cover-wrapper { 
    height: 932px;
  }
  .Cover-img { 
    /* height: 756px; */
    display: none;
  }
  .Cover-img-mobile { 
    display: block;
    height: 932px;
  }
  .logo { 
    margin-left: 18px;
  }
  .services-btn { 
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .readMore-wrapper {
    margin-top: 76px;
    padding-left: 34px;

   }
  .we-strongly { 
    font-size: 16px;
  }
  .ideas-matter { 
    font-size: 28px;
  }
  .readMore-btn { 
    margin-top: 20px;
  }
  .our-costumer { 
    font-size: 18px;
    padding-bottom: 16px;
  }
  .logoimg { 
    width: 72px;
    display: flex;
    justify-content: center;
  }
  .iconsWrapper { 
    height: 1300px;
  }
  .iconsdivi1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  .iconsdivi1-2 { 
    margin-top: 2px;
  }
  .ourServices { 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .eachDiv { 
    margin-bottom: 24px;
  }
  .iconimages { 
    width: 40px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 18px;
    margin-bottom: 6px;
  }
  .ptext {
    font-size: 14px;
  }
  .footer-last-sec { 
    display: none;
  }
  .footer-sec2 { 
    margin-right: 0px;
  }
  .all-rights { 
    display: none;
  }
}


@media screen and (min-width: 600px) and (max-width: 768px) {
  .Cover-wrapper { 
    height: 756px;
  }
  .Cover-img { 
    height: 756px;
  }
  .logo { 
    margin-left: 20px;
  }
  .services-btn { 
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .readMore-wrapper { 
    top: 20px;
    margin-left: 22px;
  }
  .we-strongly { 
    font-size: 18px;
  }
  .ideas-matter { 
    font-size: 32px;
  }
  .readMore-btn { 
    margin-top: 20px;
  }
  .our-costumer { 
    font-size: 18px;
  }
  .logoimg { 
    width: 72px;
    display: flex;
    justify-content: center;
  }
  .iconsWrapper { 
    height: 1300px;
  }
  .iconsdivi1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .iconsdivi1-2 { 
      margin-top: 2px;
    }
  .ourServices { 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .eachDiv { 
    margin-bottom: 24px;
  }
  .iconimages { 
    width: 40px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 18px;
    margin-bottom: 6px;
  }
  .ptext {
    font-size: 14px;
  }
  .footer-last-sec { 
    display: none;
  }
  .footer-sec2 { 
    margin-right: 0px;
  }
  .all-rights { 
    display: none;
  }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Cover-wrapper { 
    height: 768px;
  }
  .Cover-img { 
    height: 768px;
  }
  .readMore-wrapper { 
    top: 20px;
  }
  .we-strongly { 
    font-size: 22px;
  }
  .ideas-matter { 
    font-size: 38px;
  }
  .readMore-btn { 
    margin-top: 28px;
    width: 240px;
    padding: 2px;
    font-size: 28px;
  }
  .our-costumer { 
    font-size: 18px;
  }
  .logoimg { 
    width: 72px;
    display: flex;
    justify-content: center;
  }
  .iconsWrapper { 
    height: 1300px;
  }
  .iconsdivi1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .iconsdivi1-2 { 
      margin-top: 2px;
    }
  .ourServices { 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .eachDiv { 
    margin-bottom: 24px;
  }
  .iconimages { 
    width: 40px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 18px;
    margin-bottom: 6px;
  }
  .ptext {
    font-size: 14px;
  }
  /* .footer-last-sec { 
    display: none;
  } */
  .footer-sec2 { 
    margin-right: 0px;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .Cover-wrapper { 
    height: 768px;
  }
  .Cover-img { 
    height: 768px;
  }
  .readMore-wrapper { 
    top: 20px;
  }
  .we-strongly { 
    font-size: 24px;
  }
  .ideas-matter { 
    font-size: 39px;
  }
  .readMore-btn { 
    margin-top: 28px;
    width: 240px;
    padding: 2px;
    font-size: 28px;
  }
  .our-costumer { 
    font-size: 18px;
  }
  .logoimg { 
    width: 80px;
    display: flex;
    justify-content: center;
  }
  .iconsWrapper { 
    height: 1350px;
  }
  .iconsdivi1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .iconsdivi1-2 { 
      margin-top: 2px;
    }
  .ourServices { 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .eachDiv { 
    margin-bottom: 24px;
  }
  .iconimages { 
    width: 48px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 18px;
    margin-bottom: 6px;
  }
  .ptext {
    font-size: 14px;
  }
  .footer-sec2 { 
    margin-right: 0px;
  }
}



@media screen and (min-width: 1280px) and (max-width: 1366px) {
  .Cover-wrapper { 
    height: 768px;
  }
  .Cover-img { 
    height: 768px;
  }
  .readMore-wrapper { 
    top: 20px;
    padding-left: 42px;
  }
  .we-strongly { 
    font-size: 24px;
  }
  .ideas-matter { 
    font-size: 39px;
  }
  .readMore-btn { 
    margin-top: 28px;
    width: 240px;
    padding: 2px;
    font-size: 28px;
  }
  .our-costumer { 
    font-size: 22px;
  }
  .logoimg { 
    width: 84px;
    display: flex;
    justify-content: center;
  }
  .iconsWrapper { 
    height: 650px;
  }
  .ourServices { 
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
  }
  .eachDiv { 
    margin-bottom: 24px;
  }
  .iconimages { 
    width: 58px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 20px;
    margin-bottom: 6px;
  }
  .ptext {
    font-size: 16px;
  }
  .footer-last-sec { 
    margin-right: 14px;
  }
}


@media screen and (min-width: 1366px) and (max-width: 1536px) {
  .Cover-wrapper { 
    height: 850px;
  }
  .Cover-img { 
    height: 850px;
  }
  .readMore-wrapper { 
    top: 20px;
    padding-left: 78px;
  }
  .we-strongly { 
    font-size: 24px;
  }
  .ideas-matter { 
    font-size: 40px;
  }
  .readMore-btn { 
    margin-top: 28px;
    width: 240px;
    padding: 2px;
    font-size: 28px;
  }
  .our-costumer { 
    font-size: 24px;
  }
  .logoimg { 
    width: 96px;
    display: flex;
    justify-content: center;
  }
  .iconsWrapper { 
    height: 700px;
  }
  .ourServices { 
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 24px;
  }
  .eachDiv { 
    margin-bottom: 24px;
  }
  .iconimages { 
    width: 72px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 20px;
    margin-bottom: 6px;
  }
  .ptext {
    font-size: 16px;
  }
  .web-dev-icon { 
    margin-bottom: 26px;
  }
  .web-design-icon { 
    margin-bottom: 19px;
  }
  .footer-last-sec { 
    margin-right: 8px;
  }
}

@media screen and (min-width: 1439px) { 
  .readMore-wrapper { 
    top: 20px;
    padding-left: 134px;
  }
  .about-us-btn { 
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1536px) and (max-width: 1720px) {
  .Cover-wrapper { 
    height: 850px;
  }
  .Cover-img { 
    height: 850px;
  }
  .readMore-wrapper { 
    top: 20px;
    padding-left: 166px;
  }
  .we-strongly { 
    font-size: 24px;
  }
  .ideas-matter { 
    font-size: 40px;
  }
  .readMore-btn { 
    margin-top: 28px;
    width: 240px;
    padding: 2px;
    font-size: 28px;
  }
  .our-costumer { 
    font-size: 28px;
  }
  .logoimg { 
    width: 112px;
    display: flex;
    justify-content: center;
  }
  .iconsWrapper { 
    height: 750px;
  }
  .ourServices { 
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 28px;
  }
  .eachDiv { 
    margin-bottom: 28px;
  }
  .iconimages { 
    width: 78px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 20px;
    margin-bottom: 10px;
  }
  .ptext {
    font-size: 18px;
  }
  .web-dev-icon { 
    margin-bottom: 26px;
  }
  .web-design-icon { 
    margin-bottom: 19px;
  }
  .footer-last-sec { 
    margin-right: 10px;
  }
  .about-us-btn { 
    margin-bottom: 90px;
  }
}


@media screen and (min-width: 1720px) {
  .Cover-wrapper { 
    height: 1080px;
  }
  .Cover-img { 
    height: 1080px;
  }
  .readMore-wrapper { 
    max-width: 980px;
    width: 980px;
    top: 20px;
    padding-left: 356px;
  }
  .readMore-btn { 
    margin-top: 30px;
    width: 240px;
    padding: 2px;
    font-size: 28px;
  }
  .iconsWrapper { 
    height: 850px;
  }
  .our-costumer { 
    font-size: 32px;
  }
  .logoimg { 
    width: 128px;
    display: flex;
    justify-content: center;
  }
  .ourServices { 
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 28px;
  }
  .eachDiv { 
    margin-bottom: 32px;
  }
  .iconimages { 
    width: 96px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .h4texts{ 
    font-size: 22px;
    margin-bottom: 10px;
  }
  .ptext {
    font-size: 19px;
  }
  .web-dev-icon { 
    margin-bottom: 32px;
  }
  .web-design-icon { 
    margin-bottom: 24px;
  }
  .footer-last-sec { 
    margin-right: 10px;
  }
  /* about us */
  .about-us-btn { 
    margin-bottom: 90px;
  }
}



/* About Us Page */

@media screen and (max-width: 768px) { 
  .textWrapper-aboutUs { 
    height: 734px;
  }
  .text-wrapper-child { 
    max-width: 320px;
  }
  .about-us-paragraph { 
    margin: 12px auto;
    font-size: 15px;
  }
  .about-us-btn { 
    margin-bottom: 70px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) { 
  .about-us-paragraph { 
    font-size: 16px;
    margin-top: 46px;
  }
}

/* Branding page / contactus*/

@media screen and (max-width: 600px) {
  .Coverbranding-img-mobile { 
    display: block;
    height: 932px;
  }
  .Cover-wrapper-ContacUs { 
    height: 916px;
  }
  .Cover-img-ContactUs { 
    height: 916px;
  }
  .Coverimg-ContactUs-mobile { 
    display: block;
    width: 100%;
    height: 916px;
  }
  .branding-div { 
    left: 0;
    padding-left: 36px;
  }
  .brandig-span { 
    max-width: 300px;
  }
  .text-branding { 
    font-size: 40px;
  }
  .text-chven { 
    font-size: 14px;
  }
  .text-bullets { 
    font-size: 18px;
  }
}
@media screen and (min-width: 1278px) and (max-width: 1364px) {
  .branding-div { 
    left: 0;
    padding-left: 42px;
  }
  .copy-div { 
    left: 0;
    padding-left: 42px;
  }
}
@media screen and (min-width: 1364px) { 
  .branding-div { 
    left: 0;
    padding-left: 76px;
  }
  .copy-div { 
    left: 0;
    padding-left: 76px;
  }
}
@media screen and (min-width: 1438px) {
  .branding-div { 
    left: 0;
    padding-left: 120px;
  }
  .copy-div { 
    left: 0;
    padding-left: 120px;
  }
}
@media screen and (min-width: 1480px) {
  .branding-div { 
    left: 0;
    padding-left: 136px;
  }
  .copy-div { 
    left: 0;
    padding-left: 136px;
  }
}
@media screen and (min-width: 1534px) { 
  .branding-div { 
    left: 0;
    padding-left: 166px;
  }
  .copy-div { 
    left: 0;
    padding-left: 166px;
  }
}
@media screen and (min-width: 1916px) { 
  .branding-div { 
    width: 730px;
    max-width: 730px;
    left: 0;
    padding-left: 356px;
  }
  .copy-div { 
    width: 730px;
    max-width: 730px;
    left: 0;
    padding-left: 356px;
  }
}

/* Marketing / Design Page */

@media screen and (max-width: 600px) { 
  .text-marketing { 
    max-width: 300px;
    margin-right: auto;
  }
  .bullets { 
    max-width: 300px;
  }
  /* .Cover-wrapper-marketing { 
    width: 100%;
    height: 2012px;
  } */
  .Cover-img-marketing { 
    display: none;
    /* width: 100%;
    height: 1086px; */
  }
  .Cover-img-marketing-mobile { 
    display: block;
    width: 100%;
    height: 1080px;
  }
  .Coverimg-marketing-mobile { 
    display: block;
    width: 100%;
    height: 1080px;
  }
  .Coverimg-Media-mobile { 
    display: block;
    height: 1080px;
  }

}

/* Copywriting Page / about us*/

@media screen and (max-width: 600px) { 
  .Cover-wrapper-copy { 
    width: 100%;
    height: 986px;
  }
  .Cover-wrapper-abouUs { 
    height: 912px;
  }
  .Cover-aboutUs-mobile { 
    display: block;
    width: 100%;
    height: 912px;
  }
  .Copy-img { 
    display: none;
    /* width: 100%;
    height: 960px; */
  }
  .Copy-img-mobile { 
    display: block;
    width: 100%;
    height: 986px;
  }
  .copy-div { 
    max-width: 330px;
    padding-left: 38px;
  }
  .copyw { 
    font-size: 32px;
  }
};

/* cover image if want */
/* @media (max-width: 768px) {
  .Cover-img {
    display: none;
  }
  
  .Cover-wrapper {
    position: relative;
  }

  .Cover-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 756px;
    background-image: url('../src/assets/cov-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
} */
