/* Enter page divs */
.hover-text { 
    position: absolute;
    top: 85%;
    left: 74%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 52%;
    
}
@media (max-width: 768px) {
    .hover-text {
      font-size: 1.5vw;
    }
  }
  
  @media (max-width: 480px) {
    .hover-text {
      font-size: 2vw;
    }
  }
  .hover-text2 { 
    position: absolute;
    top: 85%;
    right: 22%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 52%;
    
}
@media (max-width: 768px) {
    .hover-text2 {
      font-size: 1.5vw;
    }
  }
  
  @media (max-width: 480px) {
    .hover-text2 {
      font-size: 2vw;
    }
  }


/* Agency Home div content */
  @media screen and (max-width: 640px) {
    .a-homediv {
      position: absolute;
      top: 60%;
      left: 40px;
      transform: translate(-10%, -40%);
      text-align: left;
    }

    .a-homediv h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .a-homediv h1 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .a-homediv button {
      font-size: 10px;
      padding: 6px 12px;
      margin-top: 10px;
    }
};

@media screen and (min-width: 641px) and (max-width: 768px) {
    .a-homediv {
      position: absolute;
      top: 60%;
      left: 40px;
      transform: translate(-10%, -40%);
      text-align: left;
    }

    .a-homediv h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    .a-homediv h1 {
      font-size: 28px;
      margin-bottom: 12px;
    }

    .a-homediv button {
      font-size: 14px;
      padding: 6px 12px;
      margin-top: 10px;
    }
};


@media screen and (min-width: 769) and (max-width: 1024px) {
    .a-homediv {
      position: absolute;
      top: 60%;
      left: 40px;
      transform: translate(-10%, -40%);
      text-align: left;
    }

    .a-homediv h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .a-homediv h1 {
      font-size: 32px;
      margin-bottom: 12px;
    }

    .a-homediv button {
      font-size: 16px;
      padding: 6px 12px;
      margin-top: 10px;
    }
};